.btn{
    background-color: rgb(138, 8, 138); 
    color: white;
    border-radius: 35px;
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 40px;
}
.container{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 50px;
}
li{
    text-align:left;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.center{
    text-align: center;
}
ul.box-block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 40px;
    margin-left: -80px;
}
ul.box-block img{
    border: 1px solid rgb(106, 223, 238);
    margin: 22px;
    cursor: zoom-in;
}