<div class="container">
  <button class="btn" (click)="onSubscribe()">SUBSCRIBE</button>
  <br>
  <h1> 
    <b>FEATURES</b> 
  </h1>
  <br><br>
  <div>
    <div class="row mx-md-10" style="margin-left: 55px; margin-right: 30px">
      <div class="col-md-8">
        <p style="font-size: 14px;" class="text-justify">
            <b>#repository</b> - The most responsive OTC Markets data feed available! Desktop and mobile compatible! Real time - 
            Press Releases, SEC Filings, OTC Disclosure, and Corporate Actions. Filter by price, and form type. The symbol search 
            feature available in both the LITE and paid version provides a snapshot of recent company events, filings, splits, and dividend 
            information. The 10 Day Overview provides a quick look at price action and volume over the past ten trading sessions. Due Diligence,
             SimpliFied! 
        </p>
        <p style="font-size: 14px;" class="text-justify">
            <b>#repositoryUTE</b> - Free OTC Disclosure feed powered by OTC Markets RSS Feed. No subscription necessary! Simply create an account 
            and access via the User CP. NOTE: #repositoryLlTE contains ONLY material documents released directly by OTC Markets Group. SEC 
            Filings, Corporate Actions, and 55+ additional Press Release providers NOT included. Please subscribe to #repository to access 
            all REAL TIME feeds. 
        </p>
      </div>
      <div class="col-md-4">
        <ul>
          <li><img src="../../assets/images/star-bullets.png" width="9%">Press Relases(55+ News Sources)</li>
          <li><img src="../../assets/images/star-bullets.png" width="9%">Company Fillings</li>
          <li><img src="../../assets/images/star-bullets.png" width="9%">Corporate Actions</li>
          <li><img src="../../assets/images/star-bullets.png" width="9%">FINRA Related Actions</li>
          <li><img src="../../assets/images/star-bullets.png" width="9%">OTC Disclouser</li>
          <li><img src="../../assets/images/star-bullets.png" width="9%">Historical Search Tools</li>
          <li><img src="../../assets/images/star-bullets.png" width="9%">Trade History snapshot</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 max-auto">
      <div class="row">
        <div class="col-md-6">
          <div class="center">
            <img
              width="130px"
              height="130px"
              class="img-responsive"
              style="margin-left: 235px;"
              src="../../assets/images/LITE-logo.png"
            >
            <p style="margin-left: 235px;">FREE ACCESS</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="center">
            <img
              width="130px"
              height="130px"
              class="img-responsive"
              style="margin-left: 85px;"
              src="../../assets/images/repository-logo.png"
            >
            <p  style="margin-right: 65px;">$14.99/MONTH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 mt-60">
      <ul class="box-block">
        <li>
          <img
            width="250px"
            height="150px" 
            class="img-responsive"
            src="../../assets/images/features/img1.jpg"
          >
        </li>
        <li>
          <img
            width="250px"
            height="150px" 
            class="img-responsive"
            src="../../assets/images/features/img2.jpg"
          >
        </li>
        <li>
          <img 
            width="250px"
            height="150px"
            class="img-responsive"
            src="../../assets/images/features/img3.jpg"
          >
        </li>
        <li>
          <img 
            width="250px"
            height="150px"
            class="img-responsive"
            src="../../assets/images/features/img4.jpg"
          >
        </li>
        <li>
          <img
            width="250px"
            height="150px" 
            class="img-responsive"
            src="../../assets/images/features/img5.jpg"
          >
        </li>
        <li>
          <img
            width="250px"
            height="150px" 
            class="img-responsive"
            src="../../assets/images/features/img6.jpg"
          >
        </li>
        <li>
          <img 
            width="250px"
            height="150px"
            class="img-responsive"
            src="../../assets/images/features/img7.jpg"
          >
        </li>
        <li>
          <img 
            width="250px"
            height="150px"
            class="img-responsive"
            src="../../assets/images/features/img8.jpg"
          >
        </li>
      </ul>
    </div>
  </div>
</div>