<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img class="img-resposive" width="100%" height="100%" style="margin-left: -200px;" src="assets/images/signup-bg.png">
        </div>
        <div class="col-md-5 tokenExpire">
            <h1>Login Expired</h1>
            <p>Please login again to access the user control panel.</p>
            <div class="row" style="text-align: center;">
                <a [routerLink]="['/auth/login']" class="login"><b>LOGIN</b></a>
            </div>
        </div>
    </div>
</div>