<div class="container">
    <Form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="col-md-12">
            <h1>LOGIN</h1>
            <br>
            <div class="col-sm-4">
                <img
                    class="img-resposive"
                    width="407px"
                    height="365px"
                    style="margin-left: -80px;"
                    src="assets/images/img-left.png"
                >
            </div>
            <div class="col-sm-3">
                <label id="center">Name | Email</label>
                <input 
                    type="text"
                    name="usernameEmail"
                    id="center"
                    class="form-control"
                    ng-maxlength="20" 
                    formControlName="usernameEmail">
                <div class="alert" *ngIf="userForm.controls['usernameEmail'].invalid && userForm.controls['usernameEmail'].touched">
                    <small *ngIf="userForm.controls['usernameEmail'].errors.required">Email or username is required!</small>
                    <small *ngIf="userForm.controls['usernameEmail'].errors.pattern">Enter a valid email or username!</small>
                </div>
                <label id="center">Password</label>
                <input 
                    type="password"
                    name="password" 
                    id="center"
                    class="form-control"
                    ng-maxlength="8"
                    formControlName="password">
                <div class="alert" *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched">
                    <small *ngIf="userForm.controls['password'].errors.required">Password is required!</small>
                </div>
                <input type="checkbox" id="center" style='margin-right:8px'>
                <label> Remember Me</label><br>
                <br>
                <button 
                    class="btn" 
                    type="submit" 
                    [disabled]="!userForm.valid">
                    <b>LOGIN</b>
                </button><br>
                <div class="style">
                    <a (click)="onForgotPassword()" style="margin-left:10px;color:white;"><u>Forgot Password?</u></a><br>
                    Not an User? <a (click)="onSignup()" ><u style="color:white;">Sign Up</u></a>
                </div>
            </div>
            <div class="col-sm-4">
                <img
                    class="img-resposive"
                    width="339px"
                    height="389px"
                    style="margin-left: 190px;"
                    src="assets/images/img-right.png"
                >
            </div> 
        </div>
    </Form>    
    <div class="space" style="padding-bottom: 542px;"></div>
</div>