.btn {
    background-color: rgb(8, 60, 138);
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

.input[type="text"] {
    background-color: rgb(74, 174, 192);
    color: white;
    border-radius: 16px;
}

h1 {
    text-align: center;
    font-size: 50px;
    height: 20px;
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
}

input {
    border-radius: 20px;
    background-color: rgb(22, 177, 177);
}

.alert {
    font-size: 12px;
    color: red;
    margin-bottom: 0px;
}

small {
    margin-left: -15px;
}

a {
    color: white;
}

img {
    width: 380px;
    height: 370px;
}

@media(max-width:1200px) {
    img {
        width: 250px;
        height: 300px;
    }
}

@media(max-width:900px) {
    img {
        height: 0px;
        width: 0px;
    }
}