<header>
    <div class="container">
        <div class="row">
            <!-- <img 
                    class="img-resposive img"
                    src="assets/images/star-img.png"
                > -->
            <div class="col-lg-3">
                <ul class="navbar-nav">
                    <li 
                        id="text"
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a routerLink="main/about" >ABOUT</a>
                    </li>
                    <li 
                        id="text"
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }"
                        style="margin-left: 40px;">
                        <a routerLink="main/features">FEATURES</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <a routerLink="main/home">
                    <img 
                        width="300px"
                        height="300px"
                        class="img-responsive"
                        style="text-align:center;margin-left: 125px;margin-top: 30px;"
                        src="assets/images/logo.png"
                    >
                </a>
            </div>
            <div class="col-lg-4">
                <div>
                    <ul class="navbar-nav">
                        <li 
                            id="text"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a routerLink="main/contact">CONTACT</a>
                        </li>
                        <li 
                            id="text"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            style="margin-left: 40px;">
                            <a routerLink="main/auth/login">LOGIN</a>
                        </li>
                        <li style="list-style-type: none;margin-top: 30px;">
                            <img 
                                class="img-responsive"
                                src="assets/images/star-bullets.png"
                            >
                        </li>
                        <li 
                            id="text"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            <a routerLink="main/auth/signup">SIGNUP</a>
                        </li>
                    </ul><br>
                </div><br>
            </div>
        </div>
    </div>    
</header>
