a {
    color: rgb(178, 44, 231);
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

img {
    width: 400px;
    height: 438px;
}

@media(max-width:767px) {
    col-12 {
        text-align: center;
    }
}