<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="col-md-4">
                <img
                class="img-resposive"
                width="386px"
                height="438px"
                src="assets/images/spiral-bg.png"
            >
            </div>
        </div>
        <div class="col-md-5">
            <div style="text-align: center; font-size: 16px; ">
            <h1><b>MISSION</b></h1>
            To simplify investments within distressed market sectors.
            </div>
            <br><br><br>
            <div style="margin-top: 16px;">
                <b style="font-size: 20px;margin-top: 70px;">APPLICATION STATUS</b>
                <br><br><br>
                <p>#repository-live!</p><br>
                <p>#observer-loading...</p>
                <p>#uplink-loading...</p>
                <p>#beacon-loading...</p>
            </div>
            <br>
            <div class="text-justify">
                Interested in creating your own custom trading tools? Use the <a (click)="onContact()"><u>Contact</u></a>
                page to reach out to one of our team members. We'd love to discuss your
                goals and provide options to further assist you with your unique trading
                style.
            </div><br><br>
        </div>
    </div>
</div>