<Form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="col-md-12">
        <h1 style="text-align: center;">FORGOT PASSWORD</h1>
        <br>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <label>Email</label>
            <input 
                type="text"
                name="email" 
                id="email"
                class="form-control"
                formControlName="email">
            <div class="alert" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                <small *ngIf="userForm.controls['email'].errors.required">Email is required!</small>
                <small *ngIf="userForm.controls['email'].errors.pattern">Enter a valid email!</small>
            </div>
            <br>
                <button 
                class="btn" 
                type="submit" 
                [disabled]="!userForm.valid">
                SUBMIT
                </button><br>
        </div> 
    </div>
</Form>
  

