<div class="container">
    <Form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="col-md-12">
            <h1 style="text-align: center;margin-top: 60px;">FORGOT PASSWORD</h1>
            <br>
            <div class="col-sm-4"></div>
            <div class="col-sm-5">
                <label id="center">Email</label>
                <input 
                    type="text"
                    name="email" 
                    id="center"
                    class="form-control"
                    formControlName="email">
                <div class="alert" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                    <small *ngIf="userForm.controls['email'].errors.required">Email is required!</small>
                    <small *ngIf="userForm.controls['email'].errors.pattern">Enter a valid email!</small>
                </div>
                <br>
                    <button 
                    class="btn" 
                    type="submit"
                    id="center" 
                    [disabled]="!userForm.valid">
                    <b>SUBMIT</b>
                    </button><br>
            </div> 
        </div>
        <div class="space" style="padding-bottom: 542px;"></div>
    </Form>    
</div>