<div class="container">
    <Form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="col-md-12">
            <h1>{{ resetPassword ? "RESET PASSWORD" : "CHANGE PASSWORD" }}</h1>
            <br>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div *ngIf="!resetPassword">
                    <label id="center">Old Password </label>
                    <input type="password" name="oldPassword" id="center" class="form-control" ng-maxlength="20" formControlName="oldPassword">
                    <div class="alert" *ngIf="userForm.controls['oldPassword'].invalid && userForm.controls['oldPassword'].touched">
                        <small *ngIf="userForm.controls['oldPassword'].errors.required">Password is required!</small>
                        <small *ngIf="userForm.controls['oldPassword'].errors.pattern">Enter a valid password!</small>
                    </div>
                </div>
                <label id="center">New Password</label>
                <input type="password" name="newPassword" id="center" class="form-control" formControlName="newPassword">
                <div class="alert" *ngIf="userForm.controls['newPassword'].invalid && userForm.controls['newPassword'].touched">
                    <small *ngIf="userForm.controls['newPassword'].errors.required">New Password is required!</small>
                    <small *ngIf="userForm.controls['newPassword'].errors.pattern">Enter a password having 1 uppercase, 1 lowercase, 1 number and 1 special character and mini 8 characters and max 12 characters!</small>
                </div>
                <label id="center">Confirm Password</label>
                <input type="password" name="confirmPassword" id="center" class="form-control" formControlName="confirmPassword">
                <div class="alert" *ngIf="userForm.controls['confirmPassword'].invalid && userForm.controls['confirmPassword'].touched">
                    <small *ngIf="userForm.controls['confirmPassword'].errors.required">Confirm Password is required!</small>
                    <small *ngIf="userForm.controls['confirmPassword'].errors.pattern">Your Password doesn't match!</small>
                </div>
                <br>
                <div class="center">
                    <div *ngIf="resetPassword">
                        <button class="btn" type="submit" [disabled]="(userForm.controls['newPassword'].invalid || userForm.controls['confirmPassword'].invalid)">
                            <b>RESET PASSWORD</b>
                        </button>
                    </div>
                    <div *ngIf="!resetPassword">
                        <button class="btn" type="submit" [disabled]="!userForm.valid">
                            <b>CHANGE PASSWORD</b>
                        </button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </Form>
</div><br>