<Form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="col-md-12">
        <h1>CONTACT</h1>
        <br>
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <label id="center">Name </label>
            <input 
                type="text"
                name="name"
                id="center"
                class="form-control"
                ng-maxlength="20" 
                formControlName="name">
            <div class="message" *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
                <small *ngIf="userForm.controls['name'].errors.required">Name is required!</small>
                <small *ngIf="userForm.controls['name'].errors.minlength">Enter a name having more than 2 characters!</small>
                <small *ngIf="userForm.controls['name'].errors.pattern">Enter a name having only alphabets!</small>
            </div>
            <label id="center">Email</label>
            <input 
                type="text"
                name="email" 
                id="center"
                class="form-control"
                formControlName="email">
            <div class="message" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                <small *ngIf="userForm.controls['email'].errors.required">Email is required!</small>
                <small *ngIf="userForm.controls['email'].errors.pattern">Enter a valid email!</small>
            </div>
            <label id="center">Message</label>
            <textarea 
                type="text"
                name="message"
                id="center"
                class="form-control"
                style="padding-bottom: 150px;"
                formControlName="message"></textarea>
            <br>
            <div class="center">
                <button 
                    class="btn" 
                    type="submit" 
                    [disabled]="!userForm.valid">
                    SUBMIT
                </button>
            </div>
            <br>
        </div> 
        <div class="col-sm-4">
            <img
                class="img-resposive"
                width="30%"
                height="30%"
                style="margin-left: 230px;margin-top: 60px;"
                src="assets/images/chat-icon.png"
            >
        </div>
    </div>
</Form>