.btn {
    background-color: rgb(8, 60, 138);
    border-radius: 20px;
}

label {
    margin-top: 10px;
}

input {
    border-radius: 20px;
    background-color: rgb(22, 177, 177);
}

h1 {
    text-align: center;
    margin-top: 27px;
    font-size: 50px;
    height: 30px;
}

.alert {
    font-size: 12px;
    color: red;
    margin-bottom: 0px;
    margin-left: -12px;
}

.small {
    font-size: 10px;
    color: red;
    margin-bottom: 0px;
}

@media(max-width:990px) {
    img {
        height: 0px;
        width: 0px;
    }
}