.btn{
    background-color: rgb(8, 60, 138); 
    border-radius: 20px; 
}
.style{
    margin-left: 140px;
}
label{
    margin-top: 10px;
}
input{
    border-radius: 20px;
    background-color: rgb(22, 177, 177);
}
h1{
    text-align: right;
    margin-right: 153px;
    font-size: 50px;
    height:20px;
}
.small{
    font-size: 10px;
    color:red;
    margin-bottom: 0px;
}